ul {
  list-style-type: none;      
  margin: 0;
  padding: 0;
  display: flex;              
  justify-content: flex-start; 
  background-color: lightblue;      
  position: fixed;           
  top: 0;
  left: 0;
  width: 100%;                        
}

li {
  padding: 14px;          
}

.navbar {
  display: flex;
  list-style: none;
  gap: 20px;
  background: lightblue;
  padding: 10px;
}