ul {
  list-style-type: none;      
  margin: 0;
  padding: 0;
  display: flex;              
  justify-content: flex-start; 
  background-color: lightblue;      
  position: fixed;           
  top: 0;
  left: 0;
  width: 100%;                        
}

li {
  padding: 14px;          
}

.navbar {
  display: flex;
  list-style: none;
  gap: 20px;
  background: lightblue;
  padding: 10px;
}

.rooms-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.room-card {
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
}

.room-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}
